<!-- User info -->
<div class="login-info">
	<span>
		<!-- User image size is adjusted inside CSS, it should stay as is -->
		<a data-ng-href="" id="show-shortcut">
			<img data-ng-src="{{app.userProfile().avatar}}" alt="me" class="online" />
			<span data-localize="{{app.userProfile().name}}">
				{{app.userProfile().name}}
			</span>
			<i class="fa fa-angle-down"></i>
		</a>
	</span>
</div>
<!-- end user info -->

<!--
NAVIGATION: This navigation is also responsive. To make this navigation
dynamic please make sure to link the node (the reference to the nav>ul)
after page load. Or the navigation will not initialize.
-->
<div class="nav-panel-wrapper">
	<nav-panel class="nav-panel">
		<nav:item data-view="/home/dashboard" data-icon="fa fa-lg fa-fw fa-home" title="Dashboard" />
		<nav:group data-icon="fa fa-lg fa-fw fa-book" title="Library">
			<nav:item data-view="/library/page1" title="Page 1" />
			<nav:item data-view="/library/page2" title="Page 2" />
			<nav:item data-view="/library/page3" title="Page 3" />
		</nav:group>
		<nav:group data-icon="fa fa-lg fa-fw fa-list" title="My Lists">
			<nav:item data-view="/my-lists/page1" title="Page 1" />
			<nav:item data-view="/my-lists/page2" title="Page 2" />
			<nav:item data-view="/my-lists/page3" title="Page 3" />
		</nav:group>
		<nav:group data-icon="fa fa-lg fa-fw fa-group" title="My Groups">
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
			<nav:item data-view="/my-groups/page1" title="Page 1" />
			<nav:item data-view="/my-groups/page2" title="Page 2" />
			<nav:item data-view="/my-groups/page3" title="Page 3" />
		</nav:group>
	</nav-panel>
	<!-- Minify (collapses but doesn't hide) left side menu
	Neat feature, but needs a lot of javascript/css work to calculate height of flyout based on offset position
	relative to item being hovered over ... already have an option to collapse the asidebar completely so we'll
	stick with that for time being
	...
	-->
	<span class="minifyme" data-ng-click="app.toggleSideMenuMinified()"> <i class="fa fa-arrow-circle-left hit"></i></span>
</div>